// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { 
	z-index: 4; 
	position: relative;
	background: $secondaryBlue;
	padding: 40px 0 0;

	@include breakpoint(tablet) {
		padding-bottom: 88px;

		&.removed-space {
			padding-bottom: 15px;
		}
	}
}

.copyright {
	color: $coWhite;
	padding-top: 40px;
	padding-bottom: 8px;

	@include breakpoint(mobile) {
		font-size: 12px;
		padding-top: 20px;
	}
}

.f-logo {
	margin-bottom: 10px;

	img {
		max-width: 100%;
	}
}


.footer-info {
	max-width: 300px;
	color: $coWhite;
	font-size: 15px;

	p {
		padding-bottom: 10px;
	}
}

.footer-menu {

	h6 {
		font-size: 16px;
		color: $coWhite;
		text-transform: uppercase;


		&.des-border {
			margin-bottom: 5px;

			&:before {
				width: 28px;
			}
			
		}		
	}

	a {
		color: $coWhite;

		&:hover {
			color: $coWhite;
			font-family: $fontNexaBold;
		}
	}

	ul {
		@include breakpoint(mobile) {
			margin-bottom: 20px;
		}

		li {
			display: block;
			padding: 4px 0;

			a {
				font-size: 12px;
				display: block;
				letter-spacing: 1px;

				@include breakpoint(tablet2) {
					font-size: 14px;
				}
			}
		}
	}

	.col-sm-6 {

		&:nth-child(3) {
			border: 1px solid red;
			clear: left;
		}
	}
}

.social-list {
	margin-bottom: 25px;

	a {
		display: inline-block;
		width: 27px;
		height: 27px;
		margin-right: 5px;
		background: $primaryOrange;
		color: $coWhite;
		line-height: 27px;
		text-align: center;

		&.sl-facebook {
			background: #3b5998;
		}

		&.sl-google {
			background: #d34836;
		}
	}
}

.footer-accordion {

	@include breakpoint(tablet2) {

		h6 {
			cursor: pointer;
		}

		ul {
			display: none;
			margin-bottom: 25px;
		}
	}

	h6 {
		display: block;

		&.active {
			.fm-croshair {

				&:after {
					@include transform(rotate(180deg));
					opacity: 0;
				}
			}
		}
	}

	.fm-croshair {
		position: relative;
		width: 25px;
		height: 25px;
		top: 8px;
		margin-right: 20px;
		float: right;
		display: none;

		@include breakpoint(tablet2) {
			display: block;
		}

		&:before, &:after {
			content :'';
			display: block;
			float: none;
			clear: both;
			width: 10px;
			height: 2px;
			position: absolute;
			top: 0;
			right: 0;
			background: $primaryOrange;
			opacity: 1;
			@include transition(all 0.3s ease);
		}

		&:after {	
			@include transform(rotate(90deg));
		}
	}
}


