// ionclude all your related style here in the header, you can leave it empty if the page has no header

header {
	position: absolute;
	z-index: 3;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 10px 0 rgba(0,0,0,0.16);
	background: rgba($coWhite, 0.9);
	width: 100%;
	left: 0;
	@include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));
	z-index: 888;
	top: inherit;


	&.is-fixed {
		position: fixed;
		top: 0;
	}

	&.slide-left {
		left: -270px;
	}

	@include breakpoint(tablet) {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background: rgba($coWhite, 0.8);
	}
}

.top-header {
	background: $tertiaryOrange;
	padding: 8px 0;

	@include breakpoint(tablet) {
		position: fixed;
		width: 100%;
		bottom: 0;
		z-index: 999;
		padding: 13px 5px;
		@include transition(all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19));

		&.removed {
			bottom: -100%;
		}
	} 

	.container {
		position: relative;


		@include breakpoint(tablet) {
			padding-right: 0;
			padding-left: 0;
		}
	}


}

.mobile-bottom-close {
	display: none;
	background: $coBlack;
	width: 25px;
	height: 25px;
	position: absolute;
	top: -13px;
	right: 5px;
	text-align: center;
	border-radius: 50%;

	@include breakpoint(tablet2) {
		display: block;
	}

	.fa {
		color: $coWhite;
		display: inline-block;
		line-height: 25px;
		position: relative;
		top: -1px;
	}
}

.discount-wrap {
	background: $tertiaryOrange;

	p {
		color: $coWhite;
		text-transform: uppercase;
		line-height: 31px;

		@include breakpoint(tablet2) {
			line-height: 22px;
		}

		span {
			display: inline-block;
			vertical-align: middle;

			@include breakpoint(tablet2) {
				font-size: 12px;
			}
		}
	}

	.btn {
		font-size: 14px;
		padding: 5px 25px 3px 25px;
		letter-spacing: 0;
		position: relative;
		float: right;
		top: 0px;
		right: 120px;
		font-family: $fontNexaBold;
		background: $tertiaryOrange;

		@include breakpoint(tablet2) {
			display: none;
		}

	}

	.call-info {
		display: inline-block;
	}
}

.payment-offer-wrap {

	label {
		display: inline-block;
		color: $coWhite;
		font-size: 18px;	

		@include breakpoint(tablet2) {
			display: none;
		}
	}

	ul {
		text-align: center;
		display: inline-block;
		width: auto;

		li {
			width: auto;
			text-align: center;
			color: $coWhite;
			display: inline-block;
			padding: 0px 20px;

			@include breakpoint(tablet) {
				padding: 0px 10px;
			}

			@include breakpoint(tablet2) {
				padding: 0px 5px 5px;
			}

			a {
				color: $coWhite;
				font-size: 16px;

				@include breakpoint(tablet2) {
					font-size: 14px;
				}


				.fa {
					font-size: 24px;
					display: inline-block;
					vertical-align: middle;
					padding-right: 10px;

					@include breakpoint(mobile) {
						font-size: 18px;
						padding-right: 2px;
					}
				}
			}
		}
	}
}

.payment-offer {
	padding-top: 8px;

	@include breakpoint(tablet) {
		padding-top: 0;
	}
}

.main-head {
	padding: 0px 0 0;

	.is-fixed & {
		padding-top: 0;
	}

	.container {
		position: relative;
	}

	@include breakpoint(tablet) {
		padding: 0;
	}
}

.call-info {
	display: inline-block;
	font-size: 17px;
	color: $coGrey;
	margin-right: 30px;
	margin-top: 3px;

	@include breakpoint(tablet) {
		margin-right: 0;
	}

	&:hover {
		color: $secondaryDarkOrange;

		span {
			border: 1px solid $secondaryDarkOrange;
		}

		.fa {
			color: $secondaryDarkOrange;
			
		}
	}

	span {
		width: 25px;
		height: 25px;
		display: inline-block;
		border-radius: 50%;
		border: 1px solid $defaultColor;
		text-align: center;
		margin-right: 8px;
		vertical-align: middle;
		@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));

		@include breakpoint(tablet) {
		}

		.fa {
			line-height: 25px;
			font-size: 16px;
			color: $defaultColor;
			@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));

			@include breakpoint(tablet) {
			}
		}
	}
}

.head-tools {
	padding-top: 8px;
	margin-bottom: 15px;

	@include breakpoint(tablet) {

		&.fr {
			float: none;
			clear: both;
		}
		
	}
}

.search-field {
	float: right;
	width: 200px;
	position: relative;

	@include breakpoint(tablet) {
		width: 100%;
		float: none;
		clear: both;
		padding: 0px 15px;
		margin-top: 10px;
	}

	input[type="text"] {
		width: 100%;
		background: #999999;
		border: 1px solid #dfdfdf;
		padding: 5px 10px;
		padding-right: 40px;
		font-size: 14px;
		letter-spacing: 0.5px;
		color: $coWhite;
		font-family: $fontNexaBold;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: $coWhite;
		}
		&::-moz-placeholder {
		  color: $coWhite;
		}
		&:-ms-input-placeholder { 
		  color: $coWhite;
		}
		&:-moz-placeholder { 
		  color: $coWhite;
		}

		@include breakpoint(tablet) {
			padding: 8px 15px;
			width: 100% !important;
		}
	}

	input[type="submit"] {
		width: 29px;
		height: 30px;
		text-indent: -9999px;
		position: absolute;
		top: 0;
		right: 0;
		background: url('../images/page_template/search.png') no-repeat center center;
		overflow: hidden;
		z-index: 2;
		border: none;
		outline: none;

		@include breakpoint(tablet) {
			right: 15px;
			top: 2px;
		}
	}
}


.logo {
	position: absolute;
	top: 0;
	background: $coWhite;
	padding: 10px;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.3);
	z-index: 2;
	/*@include transition(all 0.3s ease);*/

	.is-fixed & {
		padding: 0;
		box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 3px 6px 0 rgba(0, 0, 0, 0);

	}

	img {
		width: 210px;
	}

	@include breakpoint(tablet) {
		padding: 0;
		position: relative;
		float: left;
		box-shadow: none;

		img {
			width: 137px;
		}
	}
}

.menu {
	float: right;
	position: relative;
	z-index: 1;

	@include breakpoint(tablet) {
		top: 0;
		right: -270px;
		position: fixed;
		width: 270px;
		height: 100%;
		overflow: auto;
		background: $coWhite;
		z-index: 999;
		text-align: center;
		margin-top: 0;
		float: none;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07), 0 2px 10px 0 rgba(0, 0, 0, 0.09);
		@include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));

		&.slide-left {
			right: 0;
		}
	}
}

nav {

	> ul {
		margin-right: -14px;

		@include breakpoint(tablet) {
			margin-right: 0;
		}

		> li {
			display: inline-block;
			margin-left: 5px;
			position: relative;
			border-bottom: 2px solid transparent;
			@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));

			@include breakpoint(tablet) {
				display: block;
				float: none;
				margin: 0;
				text-align: left;
				border-bottom: 1px solid #ccc;
			}

			&:hover, &.active {
				border-bottom: 2px solid $tertiaryOrange;

				@include breakpoint(tablet) {
					border-bottom: 1px solid #ccc;
				}

				> a {
					color: $tertiaryOrange;

					@include breakpoint(tablet) {
					}
				}
			}

			&.sub-nav {

				&:before {
					content: '';
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid $primaryOrange;
					position: absolute;
					bottom: -8px;
					left: 50%;
					margin-left: -8px;
					opacity: 0;
					visibility: hidden;
					@include transition(all 0s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275));

					@include breakpoint(tablet) {
						display: none;
					}
				}

				&:hover {

					&:before {
						bottom: -1px;
						opacity: 1;
						visibility: visible;
						@include transition(all 0.3s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275));
					}

					> ul {
						opacity: 1;
						visibility: visible;
						z-index: 99;
						top: 100%;

						/*@include breakpoint(tablet) { 
							display: none;
						}*/
					}
				}

				> a { 

					@include breakpoint(tablet) {
						&:before {
							content: "\f0d7";
							display: inline-block;
							font: normal normal normal 14px/1 FontAwesome;
							font-size: inherit;
							text-rendering: auto;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							font-size: 22px;
							position: absolute;
							top: 12px;
							right: 15px;
							color: $primaryOrange;
						}
					}

					
				}
			}

			> a {
				display: block;
				font-size: 15px;
				color: $coGrey;
				font-family: $fontNexaBold;
				padding: 10px 14px ;

				@include breakpoint(tablet) {
					padding: 15px 15px;
				}
			}

			ul {
				position: absolute;
				top: 105%;
				left: 0;
				background: $primaryOrange;
				min-width: 180px;
				padding: 10px 0;
				opacity: 0;
				visibility: hidden;
				@include transition(all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275));
				z-index: -1;

				@include breakpoint(tablet) {
					position: relative;
					opacity: 1;
					visibility: visible;
					display: none;
					top: 0;
					@include transition(all 0.0s linear);
					padding: 5px 0;
				}

				> li {
					display: block;
					float: none;

					a {
						display: block;
						color: $coWhite;
						padding: 5px 15px;
						display: block;
						background: $primaryOrange;

						@include breakpoint(tablet) {
							font-size: 14px;
						}

						&:hover {
							background: $coBlack;
						}
					}
				}
			}
		}
	}
}


.stat {

	span {
		text-align: center;
		font-size: 8px;
		color: $coWhite;
		text-transform: uppercase;
		width: 30px;
		position: absolute;
		top: -3px;
		left: 0;
		display: inline-block;
		line-height: 13px;
		letter-spacing: 0.5px;
		font-family: $fontNexaBold;

		@include breakpoint(tablet) {
			left: 15px;
			top: 1px;
		}

		i {
			font-style: normal;
			position: relative;
			z-index: 2;
		}
		

		&:after {
			content: '';
			position: absolute;
			top: -1px; 
			left: 4px;
			width: 100%; 
			height: 100%;
			-webkit-transform-origin: 100% 0;
			-ms-transform-origin: 100% 0;
			transform-origin: 100% 0;
			z-index: 1;
			@include transform(skew(-35deg));
		}
	}

	&.hot {

		span:after {
			background: $coRed;
		}
	}

	&.new {

		span:after {
			background: $coBlue;
		}
	}
	
}


.header-hamburger {
	display: none;
	float: right;
	position: relative;
	cursor: pointer;
	z-index: 101;
	width: auto;
	height: 25px;
	cursor: pointer;
	background-color: transparent;
	margin: 18px 0 18px 15px;
	right:0; 
	@include transition(all, 0.4s, cubic-bezier(0.645, 0.045, 0.355, 1));

	@include breakpoint(tablet) {
		display: block;
	}

	i {
		font-style: normal;
		padding-right: 40px;
		line-height: 28px;
		font-size: 18px;
		font-weight: 700;
	}
}

.header-hamburger span, .header-hamburger span:after, .header-hamburger span:before {
	content: '';
	cursor: pointer;
	height: 4px;
	width: 25px;
	background: $primaryOrange;
	position: absolute;
	display: block;
	@include transition(all, 0.2s, ease-in-out);
	@include transform(rotate(0deg));
	border-radius: 1px;
}

.header-hamburger span {
	  right: 0px;
	  top: 12px;
}

.header-hamburger span:before {
  	top: -7px;
}

.header-hamburger span:after {
  	top: 7px;
}

.header-hamburger.active span {
  	background: transparent !important;
}

.header-hamburger.active span:before, .header-hamburger.active span:after {
  	top: 0;
}

.header-hamburger.active span:before {
  	@include transform(rotate(45deg));
}

.header-hamburger.active span:after {
 	@include transform(rotate(-45deg));
}

