// ionclude all your related style here in the header, you can leave it empty if the page has no header

header {
	position: relative;
	z-index: 3;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.07),0 2px 10px 0 rgba(0,0,0,0.09);
}


.top-header {
	background: $tertiaryOrange;
	padding: 8px 0;


	.container {
		position: relative;
	}

	p {
		color: $coWhite;
		text-transform: uppercase;
		line-height: 31px;

		span {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.btn {
		font-size: 14px;
		padding: 5px 25px 3px 25px;
		letter-spacing: 0;
		position: absolute;
		top: 0px;
		right: 120px;
		font-family: $fontNexaBold;
		background: $tertiaryOrange;



	}

	.call-info {
		display: inline-block;
	}
}

.main-head {
	padding: 6px 0 0;

	.container {
		position: relative;
	}
}

.call-info {
	display: inline-block;
	font-size: 17px;
	color: $coGrey;
	margin-right: 30px;
	margin-top: 3px;

	&:hover {
		color: $secondaryDarkOrange;

		span {
			border: 1px solid $secondaryDarkOrange;
		}

		.fa {
			color: $secondaryDarkOrange;
			
		}
	}

	span {
		width: 25px;
		height: 25px;
		display: inline-block;
		border-radius: 50%;
		border: 1px solid $defaultColor;
		text-align: center;
		margin-right: 8px;
		vertical-align: middle;
		@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));

		.fa {
			line-height: 25px;
			font-size: 16px;
			color: $defaultColor;
			@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
		}
	}
}

.head-tools {
	padding-top: 8px;
}

.search-field {
	float: right;
	width: 170px;
	position: relative;

	input[type="text"] {
		width: 100%;
		background: #999999;
		border: 1px solid #dfdfdf;
		padding: 5px 10px;
		padding-right: 40px;
		font-size: 14px;
		letter-spacing: 0.5px;
		color: $coWhite;
		font-family: $fontNexaBold;


		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: $coWhite;
		}
		&::-moz-placeholder {
		  color: $coWhite;
		}
		&:-ms-input-placeholder { 
		  color: $coWhite;
		}
		&:-moz-placeholder { 
		  color: $coWhite;
		}
	}

	input[type="submit"] {
		width: 29px;
		height: 30px;
		text-indent: -9999px;
		position: absolute;
		top: 0;
		right: 0;
		background: url('../images/page_template/search.png') no-repeat center center;
		overflow: hidden;
		z-index: 2;
		border: none;
		outline: none;
	}
}


.logo {
	position: absolute;
	top: 0;
	background: $coWhite;
	padding: 10px;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}

.menu {
	margin-top: 15px;
	float: right;
}

nav {

	> ul {
		margin-right: -14px;

		> li {
			display: inline-block;
			margin-left: 5px;
			position: relative;
			border-bottom: 2px solid transparent;
			@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));

			&:hover {
				border-bottom: 2px solid $tertiaryOrange;

				> a {
					color: $tertiaryOrange;
				}
			}

			&.sub-nav {

				&:before {
					content: '';
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid $tertiaryOrange;
					position: absolute;
					bottom: -8px;
					left: 50%;
					margin-left: -8px;
					opacity: 0;
					visibility: hidden;
					@include transition(all 0s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275));
				}

				&:hover {

					&:before {
						bottom: -1px;
						opacity: 1;
						visibility: visible;
						@include transition(all 0.3s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275));
					}

					> ul {
						opacity: 1;
						visibility: visible;
						z-index: 99;
						top: 100%;
					}
				}
			}

			> a {
				display: block;
				font-size: 15px;
				color: $coGrey;
				font-family: $fontNexaBold;
				padding: 10px 14px ;
			}

			ul {
				position: absolute;
				top: 105%;
				left: 0;
				background: $tertiaryOrange;
				min-width: 180px;
				padding: 10px 0;
				opacity: 0;
				visibility: hidden;
				@include transition(all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275));
				z-index: -1;

				> li {
					display: block;
					float: none;

					a {
						display: block;
						color: $coWhite;
						padding: 5px 15px;
						display: block;
						background: $tertiaryOrange;

						&:hover {
							background: $secondaryBlue;
						}
					}
				}
			}
		}
	}
}


.stat {

	span {
		text-align: center;
		font-size: 8px;
		color: $coWhite;
		text-transform: uppercase;
		width: 30px;
		position: absolute;
		top: -3px;
		left: 0;
		display: inline-block;
		line-height: 13px;
		letter-spacing: 0.5px;
		font-family: $fontNexaBold;
		

		&:after {
			content: '';
			position: absolute;
			top: -1px; 
			left: 4px;
			width: 100%; 
			height: 100%;
			-webkit-transform-origin: 100% 0;
			-ms-transform-origin: 100% 0;
			transform-origin: 100% 0;
			z-index: -1;
			@include transform(skew(-35deg));
		}
	}

	&.hot {

		span:after {
			background: $coRed;
		}
	}

	&.new {

		span:after {
			background: $coBlue;
		}
	}
	
}

