// ionclude all your related style here in the header, you can leave it empty if the page has no header

header {
	position: relative;
	z-index: 3;
}


.top-header {
	background: $tertiaryOrange;
	padding: 8px 0;


	.container {
		position: relative;
	}

	p {
		color: $coWhite;
		text-transform: uppercase;
		line-height: 31px;

		span {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.btn {
		font-size: 14px;
		padding: 5px 25px 3px 25px;
		letter-spacing: 0;
		position: absolute;
		top: 0px;
		right: 120px;
		font-family: $fontNexaBold;
	}

	.call-info {
		display: inline-block;
	}
}

.main-head {
	padding: 6px 0 0;

	.container {
		position: relative;
	}
}

.call-info {
	display: inline-block;
	font-size: 17px;
	color: $coGrey;
	margin-right: 30px;
	margin-top: 3px;

	span {
		width: 25px;
		height: 25px;
		display: inline-block;
		border-radius: 50%;
		border: 1px solid $defaultColor;
		text-align: center;
		margin-right: 8px;
		vertical-align: middle;

		.fa {
			line-height: 25px;
			font-size: 16px;
			color: $defaultColor;
		}
	}
}

.head-tools {
	padding-top: 8px;
}

.search-field {
	float: right;
	width: 170px;
	position: relative;

	input[type="text"] {
		width: 100%;
		background: #999999;
		border: 1px solid #dfdfdf;
		padding: 5px 10px;
		padding-right: 40px;
		font-size: 14px;
		letter-spacing: 0.5px;
		color: $coWhite;
		font-family: $fontNexaBold;


		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: $coWhite;
		}
		&::-moz-placeholder {
		  color: $coWhite;
		}
		&:-ms-input-placeholder { 
		  color: $coWhite;
		}
		&:-moz-placeholder { 
		  color: $coWhite;
		}
	}

	input[type="submit"] {
		width: 29px;
		height: 30px;
		text-indent: -9999px;
		position: absolute;
		top: 0;
		right: 0;
		background: url('../images/page_template/search.png') no-repeat center center;
		overflow: hidden;
		z-index: 2;
		border: none;
		outline: none;
	}
}


.logo {
	position: absolute;
	top: 0;
}

.menu {
	margin-top: 15px;
	float: right;
}

nav {

	> ul {

		> li {
			display: inline-block;
			margin-left: 5px;
			position: relative;

			&:last-child {

				a {
					padding-right: 0;
				}
			}

			> a {
				display: block;
				font-size: 15px;
				color: $coGrey;
				font-family: $fontNexaBold;
				padding: 10px 15px
			}
		}
	}
}


.stat {

	span {
		text-align: center;
		font-size: 8px;
		color: $coWhite;
		text-transform: uppercase;
		width: 30px;
		position: absolute;
		top: -3px;
		left: 0;
		display: inline-block;
		line-height: 13px;
		letter-spacing: 0.5px;
		font-family: $fontNexaBold;
		

		&:after {
			content: '';
			position: absolute;
			top: -1px; 
			left: 4px;
			width: 100%; 
			height: 100%;
			-webkit-transform-origin: 100% 0;
			-ms-transform-origin: 100% 0;
			transform-origin: 100% 0;
			z-index: -1;
			@include transform(skew(-35deg));
		}
	}

	&.hot {

		span:after {
			background: $coRed;
		}
	}

	&.new {

		span:after {
			background: $coBlue;
		}
	}
	
}

