 // this is area is for reserved class
html, body { height:100%; min-height:100%; }
.hide { position:relative;}
.ease,a,input[type="submit"],button { @include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)); }
.loader { position:relative; overflow:hidden; background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.auto { max-width:$maxWidth; margin: 0 auto; }

#ss-container {
	position: relative;
	overflow: hidden;
}

#main-container {
	position: relative;
	z-index: 3;
	left: 0;
	@include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));

	&.slide-left {
		left: -270px;
	}

	&.slide-right {
		left: 270px;
	}
}

body {
	min-width: 970px;

	@include breakpoint(desktop) {
		min-width: 320px;
	}

	@include breakpoint(mobile) {
		font-size: $fontMedium;
	}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.fl { float:left; }
.fr { float:right; }
.clr { display: block; float:none; clear:both; }

#main-wrapper {
	padding-top: 93px;

	@include breakpoint(tablet) {
		padding-top: 60px;

	}

	&.spacing-top {
		
		.breacrumb-wrap {
			padding: 34px 0 12px 0;

			@include breakpoint(tablet) {
				padding-top: 12px;
			}
		}
	}
}


.preloader { position:fixed; width:100%; height:100%; overflow:hidden; }
.spinner { position: absolute; width:80px; height:80px; top: 50%; left: 50%; margin-left:-40px; margin-top:-40px; @include animation(rotatee 2.0s infinite linear); }
.s-dot { display: inline-block; position: absolute; width:60%; height:60%;  top: 0; background-color:$secondaryDarkOrange; @include border-radius(100%); @include animation(bouncee 2.0s infinite ease-in-out); }
.s-dot2 { top: auto; bottom: 0px; @include animation-delay( -1.0s); }
@include keyframes(rotatee) { 100% { @include transform(rotate(360deg)); } }
@include keyframes(bouncee) { 0%, 100% { @include transform(scale(0.0)); } 50% { @include transform(scale(1.0)); } }
.explorer .preloader { background:#fff url('../images/page_template/loading.gif') no-repeat center; }
.explorer .preloader .spinner { display:none; }

.hiding {
	opacity: 0;
}

.visible {
	opacity: 1;
}

.container {
	max-width: 970px;

	/*&:after, &:before {
		content:'';
		display: block;
		float: none;
		clear: both;
	}*/
}

.btn {
	display: inline-block;
	padding: 8px 25px 6px;
	font-size: 16px;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: $coWhite;
	box-shadow: 0 0px 5px 0 rgba(0,0,0,0),0 0px 0px 0 rgba(0,0,0,0);

	@include breakpoint(mobile) {
		font-size: 13px;
	}

	&.btn-rounded {
		border-radius: 20px;
		border: 2px solid $coWhite;
	}

	&.btn-blue {
		background: $secondaryBlue;
		padding: 12px 25px;
		font-family: $fontNexaBold;

		&:hover {
			background: lighten($secondaryBlue, 10%);
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		}

		@include breakpoint(mobile) {
			padding: 8px 15px;
		}
	}

	&.btn-tertiary {
		background: $tertiaryOrange;
		font-family: $fontNexaBold;

		&:hover, &.active {
			background: darken($tertiaryOrange, 6%);
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		}
	}
}


.table-wrap {
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;

	.table-cell {
		height: 100%;
		display: table-cell;
		vertical-align: middle;
	}
}

.space-pad {
	padding: 60px 0;

	@include breakpoint(tablet) {
		padding: 30px 0;
	}

	@include breakpoint(mobile) {
		padding: 30px 0 10px;
	}
}

.des-border {
	position: relative;
	padding-bottom: 8px;
	margin-bottom: 15px;
	display: inline-block;

	&:before {
		content: '';
		display: block;
		width: 35px;
		height: 2px;
		position: absolute;
		bottom: 5px;
		left: 0;
		background: $primaryOrange;
	}
	
}

.sec-head {
	padding: 0px 30px;

	@include breakpoint(tablet2) {
		padding: 0px 5px;
	}

	p {
		margin-top: 30px;
		font-size: 18px;
		line-height: 30px;

		@include breakpoint(mobile) {
			font-size: 15px;
			line-height: 20px;
			margin-top: 15px;
		}
	}
}

.bg-blue {
	background: $secondaryBlue;
	color: $coWhite;
}

.sec-title {
	margin-bottom: 15px;
}


.readmore {
	display: inline-block;
	text-align: right;
	font-family: $fontNexaBold;
	font-size: 15px;

	&.blue {
		color: $secondaryBlue;
	}


	&:hover {
		color: $tertiaryOrange !important;

		.fa {
			left: 5px;
		}
	}

	.fa {
		font-size: 18px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		position: relative;
		left: 0;
		@include transition(left 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
	}
}


.input-wrap {
	position: relative;
	margin-bottom: 20px;

	@include breakpoint(tablet2) {
		margin-bottom: 15px;
	}

	input[type="email"], input[type="text"], input[type="tel"], textarea {
		width: 100%;
		border: none;
		padding: 8px 8px;

		@include breakpoint(tablet2) {
			padding: 6px 8px;
		}
	}

	input[value=""] + label, input[value=""] + label {
	    color: #999;
	    position: absolute;
	    left: 8px; /* the negative of the input width */
	    font-size: 16px;
	    bottom: 3px;
	    cursor: text;
	    color: $coGrey;
	    opacity: 1;
	    visibility: visible;
	    font-size: 12px;
	    z-index: 3;
	    @include transition(all, 0.3s, cubic-bezier(0.645, 0.045, 0.355, 1));
	}

	/* hide the placeholder when input has some text typed in */
	input[required]:valid + label, input[required]:focus + label, input:not([value=""]) + label{
		bottom: 100%;
		left: 0;
		color: $coWhite;
	    font-size: 12px;
	    position: absolute;
	    font-family: $fontNexaBold;

	}

	&.error {

		input[type="email"], input[type="text"], input[type="tel"], textarea {
			border: 1px solid #bd0202;
		}
	}
}

.price-text {

}

.product-categ-text {
	text-align: center;

	a {
		position: relative;
		display: inline-block;
		color: $secondaryBlue;

		&:before {
			content:'';
			width: 100%;
			height: 1px;
			bottom: 4px;
			position: absolute;
			background: $coGrey;

		}
		
	}
}

.product-title {
	a {
		color: $coGrey;
	}
}

.breacrumb-wrap {
	padding: 12px 0;
	background: $secondaryBlue;

	&.no-bg {
		background: none;

		p {
			color: $coGrey;

			a {
				color: $coGrey;
			}
		}
	}
}

.breadcrumb {

	p {
		color: #bcbec0;

		a {
			color: #bcbec0;

			&:hover {
				color: $coWhite;
			}
		}
	}
}

.inner-banner {
	height: 378px;
	position: relative;
	overflow: hidden;
	z-index: 2;

	@include breakpoint(tablet2) {
		display: none;
	}

	&:before {
		content:'';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba($coBlack, 0.5);
		z-index: 2;
	}

	.banner-img-wrap {
		position: absolute;
		overflow: hidden;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.table-wrap {
		z-index: 3;
	}
}

.b-separator {
	display: inline-block;
	margin: 0px 5px;
	font-size: 20px;
	vertical-align: middle;
	font-family: $fontNexaLight;
}

.inner-discount {
	padding: 20px 0 25px 0;

	@include breakpoint(mobile) {
		padding: 15px 0;
	}

	p {
		font-size: 20px;

	}

}

.pagination-wrap {
	padding: 0px;
	float: right;

	@include breakpoint(tablet2) {
		display: none;
	}

	&.bottom {
		clear: right;
		padding: 30px 0;

		@include breakpoint(tablet2) {
			display: block;
		}
	}

	ul {
		text-align: center;

		li {
			display: inline-block;
			vertical-align: top;
			text-align: center;
			margin: 0px 2px;

			a, span{
				width: 30px;
				height: 30px;
				border-radius: 2px;
				background: $secondaryBlue;
				display: block;
				color: $coWhite;
				text-align: center;
				line-height: 30px;


				&.current, &.pagi-active {
					width: 30px;
					color: $coWhite;
				}
			}

			a, span {
				&.pagi-active, &:hover, &.current {
					background: $primaryOrange;
				}
			}

			span {
				background: none;
				color: $coGrey;
				width: auto;
			}
		}
	}

	.fa {
		font-size: 24px;
		display: block;
		line-height: 27px;
	}
}


/*** Custom Select Box ***/
.custom-select-wrapper { 
	display: block; 
	position: relative; 
	height: 32px; 
	background: #f2f2f2;  
	box-sizing: border-box; 
	border: 1px solid #878787;

	.error & {
		border: 1px solid red;
	}

	&:after {
		content:'';
		position: absolute;
		top: 50%;
		right: 10px;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid $coGrey;
		margin-top: -4px;
	}

	/*&.focus {
		border-bottom:1px solid $coGreen;
	}*/
}
.custom-select-wrapper .custom-select-display { 
	display: block; 
	height: 30px; 
	margin-right: 25px; 
	color: $coGrey; 
	overflow: hidden; 
	padding: 11px 8px 0px 8px; 
	white-space: nowrap; 
	text-overflow: ellipsis;
	font-size: 14px;
}

.custom-select-wrapper select { 
	-webkit-appearance: none; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	filter: alpha(opacity=0); 
	opacity: 0; 
	z-index: 1; 
	cursor: pointer;
}

.small-pad-row {
	margin-left: -5px;
	margin-right: -5px;
}

.small-pad-col {
	padding-left: 5px;
	padding-right: 5px;
}

.banner-text {
	text-align: center;

	h1 {
		margin-bottom: 20px;
		text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.70);

		@include breakpoint(mobile) {
			margin-bottom: 10px;
		}
	}

	p {
		max-width: 600px;
		margin: 0 auto;
		font-family: $fontCynthoSlabPro;
		font-size: 16px;
		line-height: 20px;
		text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.90);

		@include breakpoint(tablet2) {
			font-size: 14px;
		}
	}
}

.pos-static {
	position: static;
}

.promo-amount {
	font-size: 20px !important;
}

.innerpage-wrap {
	padding-top: 60px;
	padding-bottom: 30px;

	h1 {
		font-size: 42px;
		line-height: 50px;
		margin-bottom: 20px;
	}
}

.wrap-404 {

	p {
		font-size: 18px;

		br {
			@include breakpoint(tablet2) {
				display: none;
			}
		}
	}

	.btn {
		margin: 30px 0;
	}
}

.required-msg {
	font-size: 12px;
	color: $coRed;
	font-style: italic;
	position: absolute;
	right: 10px;
	bottom: 4px;
	visibility: hidden;
	opacity: 0;
	@include transition(all 0.3s ease);

	.error & {
		visibility: visible;
		opacity: 1;
	}
}

.overlay {

	&:before {
		content: '';
		display: block;
		width: 100%;
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(#e6e7e8, 0.8);
		z-index: 99;
	}
}

.loading-spinner-wrapper {
	position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 99;
    top: 50%;
    margin-top: -6px;
    opacity: 0;
    @include transition(all, 0.3s, ease);

    .overlay & {
    	opacity: 1;
    }
}


.loading-spinner {
    position: relative;
    vertical-align: middle;
    width: 50px;
    height: 12px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.loading-spinner i {
    position: absolute;
    top: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: $coBlue;
    -webkit-animation: pulse 1s infinite ease-in-out;
    -moz-animation: pulse 1s infinite ease-in-out;
    animation: pulse 1s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both
}
.loading-spinner i.one {
    left: 0;
    -webkit-animation-delay: -.32s;
    -moz-animation-delay: -.32s;
    animation-delay: -.32s
}
.loading-spinner i.two {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation-delay: -.16s;
    -moz-animation-delay: -.16s;
    animation-delay: -.16s
}
.loading-spinner i.three {
    right: 0;
}
.loading-spinner i {
    background: $tertiaryOrange;
}


@-webkit-keyframes pulse {
    0%, 100%, 80% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
@-moz-keyframes pulse {
    0%, 100%, 80% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
@keyframes pulse {
    0%, 100%, 80% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}


img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}