// include all your new classess here that is intended for mobile. Only if necessary but please use breakpoints mixins

@media only screen and (max-width: 1200px) {
	.owl-nav {
		display: none;
	}
}

@media only screen and (min-width: 992px) {

	header.slide-left {
	    left: 0;
	}

	#main-container.slide-left {
	    left: 0px;
	}
}

@media only screen and (min-width: 768px) {
	.footer-menu {
		ul {
			display: block !important;
		}
	}

	footer {
		.product-accordion {

			h6 {
				pointer-events: none;
			}
		}
	}

	.hidden-tablet {
		display: none;
	}
	
	.hidden-mobile {
		display: block;
	}
}

@media only screen and (max-width: 767px) {


	.hidden-mobile {
		display: none;
	}
}