// includes all tags for paragraphs and titles such as header, p, span
h1 { 
	font-size: 75px; 
	font-family: $fontNexaBold;

	@include breakpoint(tablet2) {
		font-size: 58px;
	}

	@include breakpoint(mobile) {
		font-size: 38px;
	}
}
h2 { 
	font-size: 60px; 
	font-family: $fontNexaBold; 
}
h3 { 
	font-size: 45px; 
	font-family: $fontNexaBold;

	@include breakpoint(tablet2) {
		font-size: 32px;
	}

	@include breakpoint(mobile) {
		font-size: 28px;
	}
}
h4 { 
	font-size: 35px; 
	font-family: $fontNexaBold;

	@include breakpoint(tablet2) {
		font-size: 26px;
	}

	@include breakpoint(mobile) {
		font-size: 20px;
	}
}
h5 { 
	font-size: 30px; 
	font-family: $fontNexaBold;

	@include breakpoint(tablet2) {
		font-size: 24px;
	}

	@include breakpoint(tablet2) {
		font-size: 18px;
	}
}
h6 { 
	font-size: 20px; 
	font-family: $fontNexaBold; 

	@include breakpoint(tablet2) {
		font-size: 18px;
	}

	@include breakpoint(mobile) {
		font-size: 16px;
	}
}

.font-size-s {
	font-size: $fontMedium;
} 

.font-size-m {
	font-size: $fontMedium;
}

.font-size-l {
	font-size: $fontLarge;
} 

.font-size-xl {
	font-size: $fontxLarge;
} 

.font-size-xxl {
	font-size: $fontxxLarge;
} 

.font-nexa-light {
	font-family: $fontNexaLight;
}

.font-nexa-bold {
	font-family: $fontNexaBold;
	letter-spacing: 1px;
}

.font-cyntho {
	font-family: $fontCynthoSlabPro;
	font-weight: normal;
}

/*.font-proxima {
	font-family:'proxima_nova_rgregular';
}

.font-proxima-bold {
	font-family:'proxima_nova_rgbold';
}

.font-proxima-light {
	font-family:'proxima_novalight';
}*/

