.blog-main-wrapper {
	
	padding-top: 60px;

	@include breakpoint(tablet) {
		padding-top: 20px;

	}
	@include breakpoint(mobile) {
		padding-top: 20px;

	}
}

.blogpost-wrapper li {
	border-top: 2px solid #959698;
	padding-top: 20px;
	padding-bottom: 20px;

	&:after {
		content:'';
		display: block;
		float: none;
		clear: both;
	}
}

.blogpost-wrapper li:first-child {
	border-top:none;
	padding-top: 0px;
}

.blog-content {
	padding-bottom: 20px;
}

.blog-pic {
	background-color: grey;
    width: 250px;
    height: 190px;
    float: left;
    margin-right:10px;

    	img{
			max-width: 100%;
			height: auto;
			background-position: center;
			
		}

    @include breakpoint(tablet) {
		height: 230px;
	}
 	@include breakpoint(tablet2) {
		float:none;
	}

	@include breakpoint(mobile) {
		float: none;
		width: 100%;

	}
}

.pic-wrap {

	@include breakpoint(tablet2) {
		padding-bottom:10px;
	}

	@include breakpoint(mobile) {
		padding-bottom: 10px;

	}

}

.search-field {
	@include breakpoint(tablet) {
		padding: 0px;
	}

	input[type="text"] {
	@include breakpoint(tablet) {
		width: 50%;
	}
}
}

.bl-date {
	font-size: 13px;
}

.bl-title {
	padding-bottom: 5px;
	color: $tertiaryOrange;
	font-size: 26px;
}

.bl-author {
	padding-left: 10px;
	font-size: 13px;
}

.bl-categ-wrap {
	padding: 0;

	.bl-categ-item {
		color: $tertiaryOrange;
		font-size: 13px;
	}

	.bl-categ {
		margin-bottom: 0;
		font-size: 13px;
	}
}

.blog-info {
	padding-left: 270px;

	@include breakpoint(tablet) {
		padding-left: 0;
	}

	i {
		padding-right:10px;
		color: $tertiaryOrange;
	}

	.bl-txt {
		padding-bottom:10px;
	}

	

	.btn-readmore {
		padding-top:10px;
	}
}

.recent-post,
.category-list {

	padding-bottom: 15px;
	
	@include breakpoint(tablet2) {
		padding-bottom: 0px
	}


	a {
		color: $defaultColor;

		&:hover {
			color: $primaryOrange;
		}
	}
	li:first-child {
		border-top:none;
	}
	li {
		border-top: 1px dotted grey;
		padding: 7px 0;
	}

	h6 {
		color: $tertiaryOrange;
	}

	i {
		padding-right: 10px;
		color: $primaryOrange;
	}
}

.help-info {
	h6 {
		color: $tertiaryOrange;
	}

	li {
		white-space: nowrap;
		padding: 3px 0;

		a {
			color: $defaultColor;

			&:hover {
				color: $primaryOrange;
			}
		}
	}

	.fa {
		color: $primaryOrange;
	}

	i {
		padding-right: 10px;
	}
}

.search-blog {
	float:left;
	width: 100%;
	padding-bottom:20px;
	/*padding-top:15px;*/
}


/*SINGLE ARTICLE*/
.blog-content {

	h1{
		font-size: 32px;
	}

	h2{
		font-size: 28px;
	}

	h3{
		font-size: 26px;
	}

	h4{
		font-size: 22px;
	}

	h5{
		font-size: 18px;
	}

	h6{
		font-size: 16px;

	}

	padding-right:50px;

	@include breakpoint(tablet) {
		padding-right: 0px;
	}

	@include breakpoint(mobile) {
		padding-right: 0px;
	}

	.bl-title {
		padding-bottom:5px;
		color: $tertiaryOrange;
		/*font-size: 32px;*/
	}

	.bl-author {
		padding-left: 10px;
	}

	i {
		padding-right:5px;
		color: $tertiaryOrange;
	}

	p {
		padding: 10px 0px;
	}

	.bl-categ-wrap {
		line-height: 20px;
		padding: 0;

		.bl-categ-item {
			color: $tertiaryOrange;
		}
	}

	.article-pic {
		background-color:grey;
		width:100%;
		height:300px;
		margin-bottom: 10px;

		img{
			max-width: 100%;
			height: auto;
			background-position: center;
			
		}
	}

	.btn {
		padding: 9px 25px;
	}
}

.socialmedia-links {
	padding: 15px 0;

	.sm-btn {
		background-color: $primaryOrange;
		padding: 10px 15px;
		display: inline-block;
	}

	a {
		display: inline-block;

		&:hover {

			.sm-btn {
				background-color: $tertiaryOrange;
			}
		}
	}

	i {
		color: white;
		padding-right:0px;
		font-size: 18px;
	}
}

.bloglinks-accordion {

	@include breakpoint(tablet2) {

		h6 {
			cursor: pointer;
		}

		ul {
			display: none;
			margin-bottom: 25px;
		}
	}

	h6 {
		display: block;

		&.active {
			.fm-croshair {

				&:before {
					@include transform(rotate(90deg));
				}
			}
		}
	}

}

.fm-croshair {
	position: relative;
	width: 25px;
	height: 25px;
	top: 0px;
	margin-right: 20px;
	float: right;
	display: none;

	@include breakpoint(tablet2) {
		display: block;
	}

	&:before {
		content: "\f105";
		display: block;
		float: none;
		clear: both;
		/*width: 10px;
		height: 2px;*/
		position: absolute;
		top: 0px;
		right: 0;
		color: $primaryOrange;
		opacity: 1;
		@include transition(all 0.3s ease);
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 20px;
	}

	/*&:after {	
		@include transform(rotate(90deg));
	}*/
}

@media only screen and (min-width: 768px) {
	.recent-post, .category-list {
		ul {
			display: block !important;
		}
	}

	.bloglinks-accordion {

		h6 {
			pointer-events: none;
		}
	}
}