.banner-slider {
	position: relative;

	.flexslider {
		margin-bottom: 0;
		border: none;

		.slides > li {
			position: relative;
			overflow: hidden;

			img {
				position: absolute;
			}
		}
	}

	&:before {
		background: $coWhite;
		bottom: 0;
		content: '';
		display: block;
		height: 50px;
		left: -50%;
		position: absolute;
		right: 0;
		transform: skewY(-3deg);
		transform-origin: 100%;
		z-index: 2;

		@include breakpoint(tablet2) {
			display: none;
		}
	}

	&:after {
		background: $coWhite;
		bottom: 0;
		content: '';
		display: block;
		height: 50px;
		left: 0;
		position: absolute;
		right: 0;
		transform: skewY(3deg);
		transform-origin: 0;
		z-index: 2;

		@include breakpoint(tablet2) {
			display: none;
		}
	}

	.container {
		position: relative;
		z-index: 2;

		h1 {
			padding: 5px 20px;
			color: $coWhite;
			text-shadow: 2px 1px 7px rgba(0, 0, 0, 0.5);
			text-align: center;
			line-height: 75px;

			@include breakpoint(tablet) {
				line-height: 36px;
				font-size: 33px;
			}
		}
	}
}

.banner-btn {
	position: absolute;
	z-index: 3;
	bottom: 60px;
	text-align: center;
	width: 100%;

	.btn.btn-tertiary {
		padding: 12px 25px;
		border-radius: 25px;
	}
}

.b-arrow {
	width: 36px;
	height: 36px;
	display: block;
	margin: 15px auto 0;
	border-radius: 50%;
	background: rgba($coBlack, 0.6);
	

	.fa {
		font-size: 24px;
		line-height: 36px;
		color: $coWhite;
	}
}

.ban-slider-img {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	&:before {
		content:'';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
		z-index: 1;
	}

	img {
		position: relative;
	}
}

.home-carousel-wrap {
	position: relative;
	background: #fff;

	.owl-carousel {
		margin-top: 25px;

		@include breakpoint(mobile) {
			margin-top: 5px;
		}
	}

	.owl-controls {
		position: absolute;
		z-index: 3;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 2;

		.owl-prev {
			position: absolute;
			top: 50%;
			left: -100px;
			text-indent: -999px;
			width: 65px;
			height: 65px;
			overflow: hidden;
			background: url('../images/page_template/arrow-prev.png') no-repeat center center;
			opacity: 0.8;

			&:hover {
				opacity: 1;
			}
		}

		.owl-next {
			position: absolute;
			top: 50%;
			right: -100px;
			text-indent: -999px;
			width: 65px;
			height: 65px;
			overflow: hidden;
			background: url('../images/page_template/arrow-next.png') no-repeat center center;
			opacity: 0.8;

			&:hover {
				opacity: 1;
			}
		}
	}

	.owl-dots {
		bottom: -50px;
		position: absolute;
		width: 100%;
		text-align: center;
	}

	.owl-dot {
		
		display: inline-block;
		text-align: center;
		margin: 0px 5px;

		&.active {
			span {
				background: $tertiaryOrange;
			}
		}


		span {
			width: 12px;
			height: 12px;
			display: block;
			background: #d6d7d8;
			border-radius: 50%;
		}
	}

	.owl-stage-outer {
		z-index: 3;
	}

	.readmore {
		margin-top: 30px;
		position: relative;
		z-index: 4;

		@include breakpoint(tablet2) {
			display: inline-block;
			clear: both;
			text-align: center;
			float: none;
			margin-top: 80px;
			width: 100%;
		}
	}
}


.pc-img {
	width: 100%;
	height: auto;
	position: relative;

	@include breakpoint(mobile) {
		padding: 0px 30px;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.pc-info {
	text-align: center;
	padding: 15px 10px;

	@include breakpoint(mobile) {
		padding: 10px;
	}

	p {
		padding-bottom: 5px;
	}

	.btn {
		margin-top: 15px;

		@include breakpoint(mobile) {
			margin-top: 5px;
		}
	}
}

.product-highlight {
	margin: 40px 0;
	padding: 40px 0;
	position: relative;

	@include breakpoint(mobile) {
		padding: 20px 0;
		margin-bottom: 10px;
	}

	&:before, &:after {
		content:'';
		display: block;
		border: 1px solid $primaryOrange;
		width: 504px;
		left: 50%;
		position: absolute;
		top: 0;
		margin-left: -252px;

		@include breakpoint(tablet2) {
			width: 100%;
			margin-left: 0;
			left: 0;
		}
	}


	&:after {
		bottom: 0;
		top: inherit;
	}
}

.prod-img {

	text-align: center;

	img {
		max-width: 100%;
		height: auto;
		display: inline-block;
	}
}

.ph-prod-title {

	font-size: 25px;
	color: $secondaryBlue;
}

.ph-prod-price {
	font-size: 20px;
	color: $primaryOrange;
	margin-bottom: 15px;
	display: inline-block;
}

.ph-info {

	p {
		padding-bottom: 5px;
	}

	.btn {
		margin-top: 30px;
	}
}


.po-wrap {

	ul {
		margin: 30px -10px;

		&:after {
			content:'';
			display: block;
			float: none;
			clear: both;
		}

		li {
			width: 25%;
			float: left;
			text-align: center;
			padding: 0px 10px 10px;

			@include breakpoint(tablet) {
				width: 50%;
				text-align: left;
			}

			@include breakpoint(mobile) {
				width: 100%;
				float: none;
				clear: both;
				display: block;
			}

			a {
				font-family: $fontNexaBold;
				color: $coWhite;
				display: block;
				background: transparent;
				padding: 12px 15px;
				border: 1px solid $coWhite;
				letter-spacing: 1px;

				@include breakpoint(mobile) {
					padding: 0px;
				}

				&:hover {
					.box {

						&:before {
							background: $secondaryDarkOrange;
							@include transform(scale(1));
							opacity: 1;
						}

						.fa {
							color: $coWhite;
						}
						
					}
				}
			}
		}
	}

	.box {
		padding: 12px 10px;
		width: 100%;
		position: relative;
		overflow: hidden;

		@include breakpoint(mobile) {
			padding: 0px 15px;
		}
		
		span {
			position: relative;
			z-index: 2;
		}

		&:before {
			content:'';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			background: transparent;
			@include transform(scale(0));
			opacity: 0;
			top: 0;
			left: 0;
			z-index: 1;
			@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
		}

		.fa {
			font-size: 30px;
			color: $tertiaryOrange;
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
		}
	}
}

.h-news-wrap {

	@include breakpoint(mobile) {
		margin-bottom: 30px;
	}

	.row {
		margin-left: -10px;
		margin-right: -10px;
	}

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.home-news {
	margin-top: 30px;

	@include breakpoint(mobile) {
		margin-top: 0;
	}

	ul {
		margin: 0 -10px;

		&:after {
			content:'';
			display: block;
			float: none;
			clear: both;
		}

		li {
			width: 50%;
			float: left;
			padding: 0px 10px;

			@include breakpoint(mobile) {
				width: 100%;
				float: none;
				clear: both;
				margin-bottom: 15px;
			}
		}
	}

	.hn-img {
		width: 100%;
		height: auto;
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	.hn-info {
		background: $secondaryBlue;
		color: $coWhite;
		text-align: left;
		padding: 15px 15px;
		position: relative;

		&:after {
			content:'';
			display: block;
			float: none;
			clear: both;
		}

		&:before {
			content: '';
			width: 0;
			height: 0;
			border-left: 13px solid transparent;
			border-right: 13px solid transparent;
			border-bottom: 12px solid $secondaryBlue;
			position: absolute;
			top: -11px;
			left: 45px;
		}

		h5 {
			font-size: 20px;
			margin-bottom: 8px;
			line-height: 25px;

			a {
				color: $coWhite;
			}
		}

		p {
			line-height: 20px;
		}

		.readmore {
			color: $coWhite;
			margin-top: 10px;
		}
	}
}

.hn-wrap {
	@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

	&:hover {
		box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

		.readmore {
			color: $tertiaryOrange !important;

		}
	}
}

.hpc-wrap {
	&:hover {

		img {
			@include transform(translate(-50%, -50%) scale(1));

			@include breakpoint(tablet) {
				@include transform(translate(0, 0) scale(1));
			}
		}

		.box-border {
			@include transform(scale(1.1));
		}

		.hpc-title {
			border: 2px solid $secondaryDarkOrange;
			border-left: none;
			border-right: none;

			.product-categ-wrap & {
				border: 2px solid transparent;
			}
		}

		.btn-blue {
			background: lighten($secondaryBlue, 10%);

		}

		.hpc-info {

			&:before {
				top: -2px;
				border-top: 18px solid lighten($secondaryBlue, 10%);
			}

			&.inverted {
				&:before {
					bottom: -2px;
					top: inherit;
					border-top: 18px solid lighten($secondaryBlue, 10%);
				}
			}
		}
	}
}

.h-product-categ {

	ul {
		margin: 30px 0;

		@include breakpoint(tablet) {
			margin: 0px -5px;
		}

		@include breakpoint(tablet2) {
			text-align: center;
		}

		&:after {
			content:'';
			display: block;
			float: none;
			clear: both;
		}

		li {
			width: 33.33%;
			float: left;

			@include breakpoint(tablet) {
				padding: 0px 5px;
			}

			@include breakpoint(tablet2) {
				width: 48%;
				float: none;
				display: inline-block;
				text-align: center;
			}

			@include breakpoint(mobile) {
				width: 100%;
				display: block;
				clear: both;
			}
		}
	}
}

.hpc-wrap {
	width: 100%;
	position: relative;
}

.hpc-img {
	width: 100%;
	position: relative;
	height: 315px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;

	@include breakpoint(tablet) {
		height: auto;
	}

	img {
		position: absolute;
		width: 100%;
		height: auto;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%) scale(1.1));
		z-index: 2;
		-webkit-backface-visibility: hidden;
		@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));

		@include breakpoint(tablet) {
			position: relative;
			top: 0;
			left: 0;
			@include transform(translate(0, 0) scale(1));
		}
	}

	.box-border {
		width: calc(100% - 40px);
		height: calc(100% - 40px);
		position: absolute;
		margin: 20px;
		left: 0;
		top: 0;
		border: 1px solid $coWhite;
		@include transform(scale(1));
		-webkit-backface-visibility: hidden;
		@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
		z-index: 3;

		@include breakpoint(tablet) {
			display: none;
		}
	}
}

.hpc-info {
	padding: 65px 20px 45px 20px;
	text-align: center;
	position: relative;

	@include breakpoint(tablet) {
		padding: 40px 20px;
	}

	@include breakpoint(mobile) {
		padding: 15px 20px 40px;
	}


	&:before {
		content:'';
		position: absolute;
		top: -20px;
		left: 50%;
		margin-left: -20px;
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 18px solid $secondaryBlue;
		@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));

		@include breakpoint(tablet) {
			display: none;
		}
	}

	&.inverted {
		padding: 45px 20px 65px 20px;

		@include breakpoint(tablet) {
			padding: 40px 20px;
		}

		@include breakpoint(mobile) {
			padding: 15px 20px 40px;
		}

		&:before {
			bottom: -20px;
			top: inherit;
			@include transform(rotate(180deg));
		}
	}

	p {
		padding-bottom: 10px;
		text-align: center;
		line-height: 20px;
	}

	.btn {
		margin-top: 16px;
		color: $coWhite;
	}

	a {
		color: $coGrey;
	}
}

.hpc-title {
	text-align: center;
	padding: 5px;
	border: 2px solid $tertiaryOrange;
	border-left: none;
	border-right: none;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));

	@include breakpoint(tablet) {
		font-size: 24px;
	}
}


.subscription-form {
	background: $tertiaryOrange;
	padding: 20px;
	margin-top: 30px;
	text-align: center;
	position: relative;

	@include breakpoint(tablet) {
		padding: 20px 15px;
	}

	&:before {
		content:'';
		position: absolute;
		bottom: -14px;
		left: 30px;
		width: 0;
		height: 0;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid $tertiaryOrange;
		@include transition(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
	}

	h4 {
		color: $coWhite;
		font-size: 30px;
		line-height: 37px;
		margin-bottom: 20px;

		@include breakpoint(tablet) {
			font-size: 20px;
			line-height: 27px;
		}
	}

	.btn {
		border: none;
	}

	
}

.mu-title{
	padding-top:25px;

	@include breakpoint(tablet) {
		font-size: 25px;
	}
}

.news-update-list {
	margin-bottom: 10px;

	.mu-content:after {
		content:'';
		clear:both;
		float: none;
		display: block;
	}

	li {
		padding: 15px 0;
		border-bottom: 1px solid #e1e2e2;
	}
}

.mu-content{
    

	.mu-li{
    	float:left;
    	border: 1px solid #eff3f5;

	}

	.mu-month{
		display: inline-block;
		text-align: center;
		text-transform: uppercase;
		background-color: $secondaryBlue;
		width: 70px;
		color:white;
		
		span {
			display: block;
			line-height: 21px;
		}
	}

	.mu-num{
		text-align:center;
		color: $secondaryDarkOrange;
		line-height: 2;
		font-weight: bold;
	}

	.mu-txt{
		padding-left:80px;

		h6 {
			color: #222;
			font-size: 16px;
			margin-bottom: 6px;
		}

		p {
			color: $coBlack;
		}
	}

}

.h-inquirenow{
	background-image: url('../images/home/map.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	background-position:center center;
	min-height:554px;
	border-top: 10px solid $tertiaryOrange;
}

.inquire-form {
	background-color: $tertiaryOrange;
	float:left;
	width: 33.33%;
	margin-left: -10px;
	min-height:554px;
	padding: 0px 10px;

	.inquire-title {
		color: $coWhite;
		padding: 25px 0 20px;
		text-align: center;

		@include breakpoint(tablet) {
			font-size: 32px;
		}
	}

	.input-wrap {

		textarea {
			height: 110px;
			resize: none;


			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #414042;
				font-size: 14px;
			}
			&::-moz-placeholder {
				color: #414042;
				font-size: 14px;
			}
			&:-ms-input-placeholder { 
				color: #414042;
				font-size: 14px;
			}
			&:-moz-placeholder { 
				color: #414042;
				font-size: 14px;
			}
		}

		input[type="email"], input[type="text"], input[type="tel"] {
			padding: 11px 15px;
		}

		input[type="email"] {
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				opacity: 0;
			}
			&::-moz-placeholder {
				opacity: 0;
			}
			&:-ms-input-placeholder { 
				opacity: 0;
			}
			&:-moz-placeholder { 
				opacity: 0;
			}

			&:focus {

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					opacity: 1;
					font-size: 12px;
				}
				&::-moz-placeholder {
					opacity: 1;
					font-size: 12px;
				}
				&:-ms-input-placeholder { 
					opacity: 1;
					font-size: 12px;
				}
				&:-moz-placeholder { 
					opacity: 1;
					font-size: 12px;
				}
			}
		}
	    
	    input[value=""] + label, textarea + label {
	    	color: #414042;
	    	font-size: 14px;
	    }

	    input[required]:valid + label, input[required]:focus + label, input:not([value=""]) + label{
			color: $coWhite;
			font-size: 12px;

		}
	}

	input[type="submit"] {
		border: none;
	}
}

.inquire-details-container{
	width:300px;
	min-height:260px;
	margin-right: -50px;
	float:right;
	position:relative;
	top:100px;
	background-color: rgba($coBlack, 0.7);

	p {
		padding:10px;
		color:white;
		position:relative;
		top:20px;
	}

	
}

.inquire-details {

	&:after {
		content:'';
		display: block;
		float: none;
		clear: both;
	}
}
